@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 1rem;
  }

  html {
    @apply min-h-full bg-black text-white;
    -webkit-tap-highlight-color: transparent;
  }

  body {
    @apply min-h-full bg-black font-sans text-white antialiased;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
